<!DOCTYPE html>
<html>
    <head>
        <title>Who is Olivia?</title>
    </head>
    <body>
        <h1>All About Me</h1>
            <p>Hi! My name is Olivia. Welcome to my personal hub. Feel free to read more to learn about me.</p>
        <h2>Background</h2>
            <p>My full name is Olivia Nwokoma. I am 22 years old and was born on January
            31st, 2001 (#TeamAquarius). I was born in White Plains, NY and lived there until I was four years old,
            where I relocated to Germantown, Maryland. I still live there to this day. I have two sisters (11 and 18)
                and one brother who is 23. I love coffee drinks, lofi, jazz, sunrises, beaches, journaling, and doing my makeup.
            Most importantly, my absolute favorite color in the world is pink.</p>
        <h2>Hobbies and Interests</h2>
            <h3>Rollerskating</h3>
            <h3>Painting</h3>
            <h3>Reading</h3>
            <h3>Journaling</h3>
            <h3>Capturing</h3>
    </body>

</html>

