<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Who is Olivia?</title>
    </head>
    <body>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
        <h1>All About Me</h1>
            <p>Hi! My name is Olivia. Welcome to my personal hub. Feel free to read more to learn about me.</p>
        <h2>Background</h2>
            <p>My full name is Olivia Nwokoma. I am 22 years old and was born on January
            31st, 2001 (#TeamAquarius). I was born in <strong>White Plains, NY</strong> and lived there until I was four years old,
            where I relocated to Germantown, Maryland. I still live there to this day. I have two sisters (11 and 18)
                and one brother who is 23. Here are the things I love (in this order):</p>
                    <ol> <!--Creating an ordered list -->
                        <li>Coffees and lattes.</li>
                        <li>Lofi and jazz music.</li>
                        <li>Warm/tropical weather.</li>
                        <li>Beaches. Not during nighttime though.</li>
                        <li>Doing my makeup.</li>
                        <li>Sunrises.</li>
                    </ol>
            <p>Most importantly, my absolute favorite color in the world is <strong>pink.</strong></p>
        <h2>Hobbies and Interests</h2>
            <h3>Rollerskating</h3>
                <p>The fact that I listed this first is hilarious. I don't own skates,
                have been to the rink maybe three times, and don't know a single trick. But I do plan on
                one day investing in my own skates and dedicating time to practicing skating weekly, because I really do enjoy it.</p>
            <h3>Painting</h3>
                <p>Another newer hobby. Hobbies are a very new thing for me because I've always been a ~<em>work-school-sleep</em>~ kind of person
                and let creative outlets fall to the wayside. I went to a school-sponsored Paint N' Sip and loved how
                relaxed and centered I felt when I was painting. I was given a bunch of extra supplies after the event
                and I've been using them ever since.</p>
            <h3>Reading</h3>
                <p>Self-explanatory. I love to read. Like most people, I don't do it as much as I did when I was a child
                because technology has messed with my attention span. But I do make it a point to curl up with a good novel
                every once in a while. Here are some books I'm reading at the moment:</p>
                    <ul> <!--Creating an unordered list -->
                        <li><em>The Alchemist</em> by Paulo Coelho</li>
                        <li><em>Ugly Love</em> by Colleen Hoover</li>
                        <li><em>The Power of Full Engagement</em> by James E. Loehr and Tony Schwartz</li>
                    </ul>
            <h3>Journaling</h3>
                <p>I love journaling because I've always been better getting my thoughts out on paper
                than verbalizing them. Writing is a good outlet for me and helps me clear my head.</p>
            <h3>My Favorite Websites</h3>
                <p><a href="https://www.youtube.com/" target ="_blank">Youtube</a></p>
                <p><a href="https://www.reddit.com/" target ="_blank">Reddit</a></p>
                <p><a href="http://onwokoma.pythonanywhere.com/hello" target ="_blank">Hello.html</a></p>
        <h2>Classes I've Taken</h2>
        <table>
            <tr> <!--First row of table: column names -->
                <th>Course</th>
                <th>Semester</th>
            </tr>
            <tr> <!--Second and third row of table: table data-->
                <td>BMGT340</td>
                <td>FALL 2021</td>
            </tr>
            <tr>
                <td>BMGT380</td>
                <td>SPRING 2022</td>
            </tr>
            <tr>
                <td>BMGT403</td>
                <td>FALL 2022</td>
            </tr>
        </table>
        </body>
</html>