<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurants</title>
    <link href="static/static/css/stylesheet1.css" rel="stylesheet">
</head>

{% extends "base.html" %} {# allows this template to override the parent template (base.html) #}

{%  block page_head %}Manage Restaurant Information{% endblock %}

{% block page_content %}

<div class = "font">
    <div class="center">
        <table>
        <tr>
            <th>Restaurant Number</th>
			<th>Restaurant City</th>
        </tr>


        {% for each_restaurant in restaurants %}
        <tr>
            <td><a href="{{ url_for('student_view', student_id=each_student['student_id']) }}">{{ each_student['last_name'] }}</a></td>
            <td>{{ each_restaurant['restaurant_number'] }}</td>
            <td>{{ each_restaurant['restaurant_city'] }}</td>
        </tr>
        {% endfor %}


        </table>
        <form action="/restaurant-add">
           <button type="submit" class="navbutton">Add Restaurant</button>
           <!--button that takes you to 'add restaurant' html page. -->
       </form>
    </div>
</div>
{% endblock %}
</html>