<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/static/css/stylesheet1.css" rel="stylesheet">
</head>

{% extends "base.html" %} {# allows this template to override the parent template (base.html) #}

{%  block page_head %}Manage Restaurant Information{% endblock %}

{% block page_content %}

<div class = "font">
    <h1>Delete Restaurant</h1>
    <p><Enter Restaurant Number:</p>
    <input type="text" name="restaurants" placeholder="Select a Restaurant" list="restaurantList">
        <datalist id="restaurantList">
            <option value="Restaurant 1">
            <option value="Restaurant 2">
        <!--placeholder data. dropdown should be a list of the number of every restaurant currently
        in the database. -->
    <p><button type="button">Submit</button></p>
            <!-- want to display a message if the restaurant was successfully deleted. -->
            <!-- Also want to delete the chosen restaurant from the database once the Submit button is clicked. -->
</div>
{% endblock %}
</html>