<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Restaurant</title>
    <link href="static/static/css/stylesheet1.css" rel="stylesheet">
</head>
{% extends "base.html" %} {# allows this template to override the parent template (base.html) #}

{%  block page_head %}Manage Restaurant Information{% endblock %}

{% block page_content %}



<div class = "font">
    <h1>Add New Restaurant</h1>
    <p>Enter Restaurant Number:</p>
    <input type="text">
    <p>Enter City:</p>
    <input type="text">
    <p><button type="button">Submit</button></p>
        <!-- want to display a message if the restaurant was successfully added. -->
        <!-- How to store the data entry in the database? -->
</div>
{% endblock %}
</html>




